button.selected {
    background-color: rgba(128, 128, 128, 0.9);
}
.flat-button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 0;
    border-radius: 6px;
}

